{% if messages %}
    {% for message in messages %}
     {% if message.tags == 'success'%}
     <script type="text/javascript">M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
     {% elif message.tags == 'info'%}
     <script type="text/javascript">M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
     {% elif message.tags == 'warning'%}
     <script type="text/javascript">M.toast({html: "{{message}}", classes: 'grey rounded', displayLength:2000});</script>
     {% elif message.tags == 'error'%}
     <script type="text/javascript">M.toast({html: "{{message}}", classes: 'red rounded', displayLength:2000});</script>
     {% endif %}
    {% endfor %}
{% endif %}